/* Vazir */
@font-face {
  font-family: vazir;
  src: url("../fonts/Vazir.eot") format("eot");
  src: url("../fonts/Vazir.woff") format("woff"),
    url("../fonts/Vazir.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: vazir-light;
  src: url("../fonts/Vazir-Light.eot") format("eot");
  src: url("../fonts/Vazir-Light.woff") format("woff"),
    url("../fonts/Vazir-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: vazir-medium;
  src: url("../fonts/Vazir-Medium.eot") format("eot");
  src: url("../fonts/Vazir-Medium.woff") format("woff"),
    url("../fonts/Vazir-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: vazir-bold;
  src: url("../fonts/Vazir-Bold.eot") format("eot");
  src: url("../fonts/Vazir-Bold.woff") format("woff"),
    url("../fonts/Vazir-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* Yekan */
@font-face {
  font-family: yekan;
  src: url("../fonts/Yekan.eot") format("eot");
  src: url("../fonts/Yekan.eot") format("ttf");
  src: url("../fonts/Yekan.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
