.bg-pink {
  background-color: #ff6b81 !important;
}

.bg-orange {
  background-color: #ffa502 !important;
}

.bg-blue {
  background-color: #1e90ff !important;
}

.bg-dark {
  background-color: #2f3542 !important;
}

.bg-green {
  background-color: #2ed573 !important;
}
